body {
    background-image: url("math.png");
    background-position: center;
    background-size: cover;
}
h1 {
    color: blueviolet;
    text-align: center;
    font-family: cursive;
}
.div1 , .div2 {
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
}
.btn-info {
    width: 30%;
}